<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="root">
	<p>Here an example of v-for and grabbing data from an array</p>
	<ul>
		<li v-for="name in names">{{ name }}</li>
	</ul>
	<p>Or you use v-text instead of the moustache curly braces </p>
	<ul>
		<li v-for="name in names" v-text="name"></li>
	</ul>
	<!-- <input id="input" type="text"> -->
	<!-- <button id="button">Add name</button> Old way using vanilla JS-->
	<p>We can also use the v-on as an event listener and this will allow us to use a way
	shorter syntax to work with changes based on events like clicks. Button here below wil use the v-on directive</p>
	<input id="input" type="text" v-model="newName">
	<button v-on:click="addName">Add Name</button>
</div>


	<script src="https://unpkg.com/vue"></script>
	<script> 
		var app = new Vue({ // new Vue instance inside global scope of app
			el: '#root', // root element
			data: { // data
				newName: '',
				names: ['Joe', 'Mary', 'John'] // array with elements
				//try app.names.push('Jeremiah')
			},
			methods: { // all methods or functions should be added here
				addName() { // ES6 Syntax without function ()
					//alert('adding name');
					this.names.push(this.newName);
				}
			},

			// mounted() { Old method using querySelector and ids
			// 	document.querySelector('#button').addEventListener('click', () => {
			// 		let name = document.querySelector('#input');
			// 		app.names.push(name.value);
			// 		name.value = ''; //empty the field
			// 	});
			// }
		});
	</script>

</body>
</html>